<!doctype html>
<html lang="en">

<head>
    <title>Manager</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body onload="getUserEmotion()">
    <div class="card">
        <div class="card-header bg-dark text-light text-center">
            <h1>Manager</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-1">
                    <div class="border border-solid border-dark text-center" style="height: 240px; width: 240px;"
                        id="emotion-status">
                    </div>
                </div>
                <div class="col-10">
                    <h5 class="text-dark text-center">Messages</h5>
                    <div id="chatbox">
                        <p class="botText"><span>Hi! I'm Chatbot.</span></p>
                    </div>
                    <div id="userInput">
                        <input id="textInput" type="text" name="msg" placeholder="Message" style="visibility: hidden">
                        <input id="buttonInput" value="Send" class="btn btn-primary" type="submit"
                            style="visibility: hidden" onclick="getManagerResponse()">
                    </div>
                </div>
            </div>
            <!-- Axios JavaScript -->
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

            <!-- My Javascript -->
            <script src="../static/admin.js"></script>

            <script>
                var input = document.getElementById("textInput");
                input.addEventListener("keypress", function (event) {
                    if (event.key == "Enter") {
                        event.preventDefault();
                        document.getElementById("buttonInput").click();
                    }
                });
            </script>
        </div>
    </div>
</body>

</html>